<div class="main-container">
  <h1>Thesis.py Test</h1>
  
  <div class="dropzone-container">
    <div class="dropzone" id="dropzone1">
      <p>Drop an image here to upload.</p>
      <img *ngIf="uploadedImage" [src]="uploadedImage" class="uploaded-image">
    </div>
  </div>
  
  <button (click)="compareImages()" class="compare-button">Search for an image</button>
  
  <!-- Display the result image -->
  <div class="display-container" *ngFor="let imageUrl of resultImages; let i = index">
    <img [src]="imageUrl" [alt]="'Result image ' + (i + i)" class="result-image">
  </div>
</div>
